<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="/ranking_tool.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Winners</title>

</head>

<body>

    <div id="outPopUp">
        <div class="card text-white mb-3">
            <div class="card-header bg-info">Winners</div>
            <div class="card-body text-info">

                <p><%= first %></p>
                <p><%= second %></p>
                <p><%= third %></p>

            </div>
        </div>
    </div>

</body>

</html>